*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to right,#ee0979 ,#ff6000);
}
#container{
    border: 1px solid #000;
    width:600px;
    margin: 40px auto;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 3rem;
}
#screen{
    display:block;
    margin: 10px auto;
    font-size: 1.3rem;
    padding: 10px;
    outline: none;
}
table{
    margin: 10px auto;
}
td{
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(104,104,104);
    transition: 300ms;
    width: 60px;
    height: 60px;
}
table button{
    font-size:2.5rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
button:focus{
    outline: none;
}
td:active{
    transform: scale(0.8);
}